@model Vidly.Models.Movie
@{
    ViewBag.Title = Model.Nome;
}
<h2></h2>
<legend>@Html.DisplayFor(modelItem => Model.Nome)</legend>

<ul class="list-group">
    <li class="list-group-item">
        @Html.DisplayNameFor(Model => Model.Genre.Name): @Html.DisplayFor(modelItem => Model.Genre.Name)
    </li>
    <li class="list-group-item">
        @Html.DisplayNameFor(Model => Model.ReleaseDate): @Html.DisplayFor(modelItem => Model.ReleaseDate)
    </li>
    <li class="list-group-item">
        @Html.DisplayNameFor(Model => Model.DateAdded): @Html.DisplayFor(modelItem => Model.DateAdded)
    </li>
    <li class="list-group-item">
        @Html.DisplayNameFor(Model => Model.NumberInStock): @Html.DisplayFor(modelItem => Model.NumberInStock)
    </li>
</ul>